/* .page */
.pageAdotar {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

/* .filters */
.filtersAdotar {
    margin-right: 2rem;
}

/* .animals-list */
.animals-list {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
